{% extends 'base.html.twig' %}

{% block content %}
  <section class="content-header">
    <h1>
      Concurso
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-users"></i> Preparadores</li>
      <li class="active"> Concurso</li>
    </ol>
  </section>
    
  <section class="content"></section>
  
{% endblock %}

