{% extends 'base.html.twig' %}

{% block content %}
  <section class="content-header">
    <h1>Solicitar Concurso</h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-users"></i> Preparadores</li>
      <li data-route="apertura_concurso_index">
        <a href="{{ path('apertura_concurso_index') }}">Apertura De Concurso</a>
      </li>
      <li class="active"> Solicitar</li>
    </ol>
  </section>

  <br/>

  <div class="row">
    <section class="content-body">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-info">
          <div class="box-header with-border">
            <i class="fa fa-list-alt"></i>
            <h3 class="box-title"><b>Requisitos</b></h3>
          </div>
          <div class="box-body">
            <ul>
              <li>Asignatura Solicitante</li>
              <li>Nro de Plazas</li>
              <li>Tema Examen Oral</li>
              <li>Tema Examen Escrito</li>
              <li>Jurado: 3 Principales y 2 Suplentes</li>
              </ul>
          </div>
        </div>
      </div>

      <div class="col-md-offset-1 col-md-10">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
              <h3 class="box-title">
                <i id="iconNew" class="fa fa-upload hide"></i>
                <i id="iconUpdate" class="fa fa-edit hide"></i>
                <b id="titleNew" class="hide">Cargar Requisitos</b>
                <b id="titleUpdate" class="hide">Actualizar Requisitos</b>
              </h3>
              <div class="box-tools pull-right">
                <button id="closeCargaRequisitos" type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i id="iconCloseCargaRequisitos" class="fa fa-plus"></i>
                </button>
            </div>
          </div>
          <div class="box-body">
            <form id="cargaRequisitos" class="form-horizontal">
              <div class="box-body">

                <div id="divAsigSol" class="form-group">
                  <label for="AsigSol" class="col-sm-3 control-label">Asignatura Solicitante</label>

                  <div class="col-sm-9">
                    <div class='input-group' >
                      <input type="text" class="form-control" id="AsigSol" placeholder="Ejemplo: Algoritmo,Redes...">
                      <span class="input-group-addon">
                          <span class="fa fa-buysellads"></span>
                      </span>
                    </div>
                  </div>
                </div>

                <div id="divNroPlz" class="form-group">
                  <label for="NroPlz" class="col-sm-3 control-label">Número de Plazas</label>

                  <div class="col-sm-9">
                    <div class='input-group' >
                      <input type="number" class="form-control" id="NroPlz" placeholder="Ejemplo: 123...">
                      <span class="input-group-addon">
	                        <span class="fa fa-hashtag"></span>
	                    </span>
                    </div>
                  </div>
                </div>
                
                <div id="divTemExOral" class="form-group">
                  <label for="TemExOral" class="col-sm-3 control-label">Tema Examen Oral</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="text" class="form-control" id="TemExOral" placeholder="Ejemplo: Grafos, Capa Física">
                      <span class="input-group-addon">
                          <span class="fa fa-buysellads"></span>
                      </span>
                    </div>
                  </div>
                </div>
                
                <div id="divTemExEsc" class="form-group">
                  <label for="TemExEsc" class="col-sm-3 control-label">Tema Examen Escrito</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="text" class="form-control" id="TemExEsc" placeholder="Ejemplo: Arboles, Capa de Transporte">
                      <span class="input-group-addon">
                          <span class="fa fa-buysellads"></span>
                      </span>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <label for="Jurado" class="col-sm-3 control-label">Jurados:</label>
                  </br></br>
                </div>
                
                <div id="divJurCoord" class="form-group">
                  <label for="JurCoord" class="col-sm-3 control-label">Coordinador</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="number" class="form-control" id="JurCoord" placeholder="Ingrese el N° de Cedula">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-credit-card"></span>
                      </span>
                    </div>
                  </div>
                </div>
                
                <div id="divJurPpal1" class="form-group">
                  <label for="JurPpal1" class="col-sm-3 control-label">Principal 1</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="number" class="form-control" id="JurPpal1" placeholder="Ingrese el N° de Cedula">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-credit-card"></span>
                      </span>
                    </div>
                  </div>
                </div>
                
                <div id="divJurPpal2" class="form-group">
                  <label for="JurPpal2" class="col-sm-3 control-label">Principal 2</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="number" class="form-control" id="JurPpal2" placeholder="Ingrese el N° de Cedula">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-credit-card"></span>
                      </span>
                    </div>
                  </div>
                </div>
                
                <div id="divJurSupl1" class="form-group">
                  <label for="JurSupl1" class="col-sm-3 control-label">Suplente 1</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="number" class="form-control" id="JurSupl1" placeholder="Ingrese el N° de Cedula">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-credit-card"></span>
                      </span>
                    </div>
                  </div>
                </div>
                
                <div id="divJurSupl2" class="form-group">
                  <label for="JurSupl2" class="col-sm-3 control-label">Suplente 2</label>

                  <div class="col-sm-9">
                    <div class='input-group'>
                      <input type="number" class="form-control" id="JurSupl2" placeholder="Ingrese el N° de Cedula">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-credit-card"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4">
                  <button id="cargarSolicConcurso" type="button" class="btn btn-success btn-block">Cargar Requisitos</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <!-- Modal Cargando-->
      <div class="modal fade" id="cargando" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div>
            <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:100px; margin-left:-50px; height:100px; margin-top:250px;"/>
            <br/>
            <label style="position: absolute; top:50%; left:50%; width:200px; margin-left:-100px; height:100px; margin-top:200px; color: white; font: 150% sans-serif;">Guardando datos...</label>
          </div>
        </div>
      </div>
      
    </section>
  </div>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/concursoPreparadores/solicitudAperturaConcurso.js') }}"></script>
{% endblock %}

