{% extends 'base.html.twig' %}

{% block content %}
  <section class="content-header">
    <h1>Solicitar Concurso</h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-users"></i> Preparadores</li>
      <li> Apertura De Concurso</li>
      <li class="active"> Solicitar</li>
    </ol>
  </section>
  
  <br/>
  
  <div class="row">
    <section class="content-body">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-info">
          <div class="box-header with-border">
            <i class="fa fa-list-alt"></i>
            <h3 class="box-title"><b>Requisitos</b></h3>
          </div>
          <div class="box-body">
            <ul>
              <li>Asignatura Solicitante</li>
              <li>Nro de Plazas</li>
              <li>Tema Examen Oral</li>
              <li>Tema Examen Escrito</li>
              <li>Jurado: 3 Principales y 2 Suplentes</li>
              </ul>
          </div>
        </div>
      </div>
      
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
              <h3 class="box-title">
                <i class="fa fa-upload"></i>
                <b>Cargar Requisitos</b>
              </h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-plus"></i>
                </button>
            </div>
          </div>
          <div id="collapseOne" class="box-body">
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="asigSol" class="col-sm-3 control-label">Asignatura Solicitante</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="asigSol" placeholder="Asignatura Solicitante">
                  </div>
                </div>
                <div class="form-group">
                  <label for="nroPlz" class="col-sm-3 control-label">Número de Plazas</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="nroPlz" placeholder="Número de Plazas">
                  </div>
                </div>
                <div class="form-group">
                  <label for="temExOral" class="col-sm-3 control-label">Tema Examen Oral</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="temExOral" placeholder="Tema Examen Oral">
                  </div>
                </div>
                <div class="form-group">
                  <label for="temExEsc" class="col-sm-3 control-label">Tema Examen Escrito</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="temExEsc" placeholder="Tema Examen Escrito">
                  </div>
                </div>
                <div class="form-group">
                  <label for="jurado" class="col-sm-3 control-label">Jurado</label>
                  
                  <div id="jurado">
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Jurado Coordinador">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Jurado Principal 1">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Jurado Principal 2">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3">
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="Jurado Suplente 1">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="Jurado Suplente 2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4">
                  <button type="submit" class=" btn btn-info btn-block">Cargar Requisitos</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

