{% extends '::base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            Realizar Solicitud
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-fw fa-money"></i> Comisión de Servicio Remunerada</li>
            <li class="active">solicitar</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Recaudos</h3>
            </div>
            <form role="form" id="formsolicitud" method="post">
                <div class="box-body">
                    <div id="divOficioCarta" class="form-group has-feedback">
                        <label class="control-label">Seleccione el oficio y carata</label>
                        <input id="OficioCarta" name="input2[]" accept="application/pdf"  type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                        <span id="spanCedulaRifActaCargaDatos" class="glyphicon form-control-feedback"></span>
                    </div>

                        <label for="exampleInputFile">Oficio de Solicitud de la Comisión de Servicio por parte del Beneficiario</label>
                        <input type="file" id="exampleInputFile" name="oficio">
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block custom_javascripts %}
    {{parent()}}
    <!--<script type="text/javascript">
        var form = document.getElementById("formsolicitud");
        $.ajax({
            url:"/web/app_dev.php/solicitud_serv_remun/envio-solicitud",
            data: new FormData(form),// the formData function is available in almost all new browsers.
            type:"post",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json", // Change this according to your response from the server.
            /*error:function(err){
                console.error(err);
            },*/
            success:function(data){
                console.log(data);
            }
            /*complete:function(){
                console.log("Request finished.");
            }*/
        });
    </script>-->
{% endblock %}
