{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/ClausulasContractuales/Reporte/ReporteCabecera.css') }}">
{% endblock %}

{% block content %}
    <section class="content-header">
      <h1>Indicador de reproceso</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa fa-handshake-o"></i>Clausulas Contractuales</li>
        <li class="active">Indicador de reproceso</li>
      </ol>
    </section>
    <br/>
    <div class="row">
      <section class="content-body">
        <div class="col-md-offset-1 col-md-10">
          <div class="box box-default" style="background-color:#eee; border-color:	#D3D3D3; border-style: solid; border-width: 2px;">
            <div class="box-header with-border" style="padding-top: 20px; padding-bottom: 20px;  padding-left: 20px;">
              <i class="fa fa fa-calendar"></i><h3 class="box-title"><b>Ingrese las rango de fechas a consultar</b></h3>
              <br/><br/><hr/>
              <div class="row">
                <div class="col-md-5 col-md-offset-1" >
                  <label>Fecha Inicio</label>
                  <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 280px;">
                      <div class='input-group date' id='datetimepickerInicio'>
                            <input id="FechaVencimientoActaNacimientoDatos" name="FechaVencimientoActaNacimientoDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                  <label>Fecha Fin</label>
                  <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 280px;">
                      <div class='input-group date' id='datetimepickerFin'>
                            <input id="FechaVencimientoActaNacimientoDatos" name="FechaVencimientoActaNacimientoDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/ClausulasContractuales/Reporte/inicializacion.js') }}"></script>
{% endblock %}