{% extends '::base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            Estado de la Solicitud
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-fw fa-money"></i> Comisión de Servicio Remunerada</li>
            <li class="active">Estado Solicitud</li>
        </ol>
    </section>
    <section class="content">
        <div class="callout callout-info">
            <h4>Su solicitud ha sido enviada</h4>

            <p>Su solicitud fue enviada, aún no se encuentra en proceso.</p>
        </div>
    </section>
{% endblock %}