{% extends 'base.html.twig' %}

{% block content %}

    <section class="content-header">
      <h1>Plan Septenal Individual</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa fa-calendar"></i>Plan Septenal</li>
        <li class="active">Individual</li>
      </ol>
    </section>

    <section class="content"></section>

{% endblock %}
