{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>Beca para hijos de los trabajadores universitarios</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-handshake-o"></i>Cláusulas Contractuales</li>
        <li>Realizar solicitud</li>
        <li class="active">Beca Estudiantil</li>
      </ol>
    </section>
    </br>
    
    <div class="row">
        <section class="content-body col-md-offset-2 col-md-8">
            <br/>
            <form>
                <div class="register-box-body">
                    <h3><i class="fa fa fa-list-alt"></i> Recaudos</h3>
                    </br>
                    <div class="form-group has-feedback">
                        <div class="input-group">
                          <input type="text" name="message" placeholder="Constancia de inscripción" class="form-control">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-paperclip fa-4"></i></button>
                          </span>
                        </div>
                    </div>
                    
                    <div class="form-group has-feedback">
                        <div class="input-group">
                          <input type="text" name="message" placeholder="Constancia de estudio" class="form-control">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-paperclip fa-4"></i></button>
                          </span>
                        </div>
                    </div>
                    
                    <div class="form-group has-feedback">
                        <div class="input-group">
                          <input type="text" name="message" placeholder="Cédula de identidad" class="form-control">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-paperclip fa-4"></i></button>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                          <button type="submit" class="btn btn-primary btn-block btn-flat">Aceptar</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </section>
    </div>
    {#<div class="col-md-3 col-sm-6 col-xs-12">#}
    {#    <div class="box box-info collapsed-box">#}
    {#      <div class="box-header with-border">#}
    {#        <h3 class="box-title">Expandable</h3>#}
    {#        <div class="box-tools pull-right">#}
    {#          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>#}
    {#        </div><!-- /.box-tools -->#}
    {#      </div><!-- /.box-header -->#}
    {#      <div class="box-body">#}
    {#        The body of the box#}
    {#      </div><!-- /.box-body -->#}
    {#    </div><!-- /.box -->#}
    {#</div>#}
{% endblock %}