{% extends 'base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Solicitud de Reincorporación al Personal Docente</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa fa-suitcase"></i> Reincorporación docente</li>
            <li class="active">Actualizar currículum</li>
        </ol>
    </section>

    <section class="content">      
        <div class="callout callout-warning">        
            <h5><i class="fa fa-exclamation-circle"></i> Debe ingresar al menos una nueva experiencia laboral (de acuerdo a su dedicación) para poder continuar con el proceso de reincorporación.</h5>
        </div>
        <div class="box box-solid box-success">
            <div class="box-header with-border">
                <h1 class="box-title">Currículum</h1>
            </div>
            <div class="box-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Director de informática</h4>
                        <div class="list-group-item-text">
                            <h5>Universidad de Oriente</h5>
                            <h6>2010-2012</h6>
                            <p>
                              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                        </div>              
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Secretario Asistente de la Dirección de Informática</h4>
                        <div class="list-group-item-text">
                            <h5>Universidad de Oriente</h5>
                            <h6>2005-2010</h6>
                            <p>
                              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                        </div>              
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">                
            <a href="#" class="btn btn-lg btn-default">Volver</a>  
            <a href="#" class="btn btn-lg btn-primary">Agregar entrada</a>
            <a href="#" class="btn btn-lg btn-success">Continuar</a>
        </div>
        
    </section>

{% endblock %}