{% extends 'base.html.twig' %}

{% block content %}

    <section class="content-header">
      <h1>Solicitud de Reincorporación al Personal Docente</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa fa-suitcase"></i> Reincorporación docente</li>
        <li class="active">Actualizar currículum</li>
      </ol>
    </section>

    <section class="content"></section>

{% endblock %}