{% extends 'base.html.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Inicio
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
      </ol>
    </section>

    <!-- Main content -->
  <div style="text-align: center">
    <h1>Sistema para la Gestión de Trámites Administrativos Docentes de la Universidad de Carabobo</h1>
  </div>
  <div align="center">
    <img src="https://raw.githubusercontent.com/CesarManriqueH/SISTRAMDUC/fadac8798b9392556ba6adabf251314883114cab/web/assets/images/UC.png" width="250" height="310" alt="Logo UC" />
    <br/>
  </div>
    <!-- /.content -->
{% endblock %}
