{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            Realizar Solicitud
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-fw fa-child"></i> Jubilación</li>
            <li class="active">Solicitar</li>
        </ol>
    </section>

    <br/><br/>

    <div class="col-xs-1"></div>
    <div style="text-align:center;" class="col-xs-10">
        <div class="callout callout-info">
            <p align="center"><tt><big>Para continuar con el proceso adjunte todos los recaudos exigidos:</big></tt></p>
        </div>
    </div>
    <div class="col-xs-1"></div>

    <form name="completeForm" id="completeForm" action="{{ path("solicitud_guardararchivos") }}" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <section class="content-body">
                <!--seccion for generate boxes-->
                <!--files box-->
                <div id="formPersonal" class="col-md-offset-1 col-md-10">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title"><b>Adjuntar Documentos:</b></h3>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="oficioSolicitud_" class="form-group has-feedback">
                                        <label class="control-label">Oficio de solicitud de jubilación</label>
                                        <input id="oficioSolicitud_" name="input1[]" accept="application/pdf" type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                                        <span id="spanOficioSolicitud" class="glyphicon form-control-feedback"></span>
                                    </div>
                                    <div id="constanciaAAPP" class="form-group has-feedback">
                                        <label class="control-label">Copia de Constancia expedida por la Dirección de Asuntos Profesorales</label>
                                        <input id="constanciaAAPP" name="input2[]" accept="application/pdf"  type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                                        <span id="spanCartaDesignacion" class="glyphicon form-control-feedback"></span>
                                    </div>
                                    <div id="reciboPago" class="form-group has-feedback">
                                        <label class="control-label">Recibo de pago</label>
                                        <input id="reciboPago" name="input3[]" accept="application/pdf" type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                                        <span id="spanOficioSolicitud" class="glyphicon form-control-feedback"></span>
                                    </div>
                                    <div id="antecedentesServicios" class="form-group has-feedback">
                                        <label class="control-label">Constancia de Antecedentes de servicios (opcional)</label>
                                        <input id="antecedentesServicios" name="input4[]" accept="application/pdf"  type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                                        <span id="spanCartaDesignacion" class="glyphicon form-control-feedback"></span>
                                    </div>
                                    <div id="constanciaPreparador" class="form-group has-feedback">
                                        <label class="control-label">Constancia de cumplimiento de labores como preparador (opcional)</label>
                                        <input id="constanciaPreparador" name="input5[]" accept="application/pdf" type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                                        <span id="spanOficioSolicitud" class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!--personal and contact data box-->
            </section>
            <div id="save" class="col-md-offset-4 col-md-4">
                <div class="form-group has-feedback">
                    <input type="submit" class="btn btn-primary btn-block btn-success" value="Enviar Solicitud"/>
                </div>
            </div>
        </div>
        <!--User data body-->
    </form>

    <!-- /.content -->
{% endblock %}

{% block custom_javascripts %}
    <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/inputFile.js') }}"></script>
    {# {% include('ComisionRemuneradaBundle:solicitudcomisionservicio:saveSolicitud.html.twig') %}#}
{% endblock %}
