{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>Consultar Datos</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-fa fa-address-card-o"></i>Regitro único</li>
        <li class="active">Consultar datos</li>
      </ol>
    </section>
{% endblock %}