{% extends '::base.html.twig' %}

{% block opcionsidebar %}
        <li data-route="jubilacion-informacion">
            <a href="{{ path('jubilacion-informacion') }}"><i class="fa fa-circle-o"></i>Requisitos</a>
        </li>
        <li data-route="jubilacion-solicitud">
            <a href="{{ path('jubilacion-solicitud') }}"><i class="fa fa-circle-o"></i>Realizar Solicitud</a>
        </li>>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h4 style="text-align: center"><b>INFORMACIÓN</b></h4>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-fw fa-blind"></i> Jubilación</a></li>
            <li class="active">Información </li>
        </ol>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="callout callout-info">
            <h4>RÉGIMEN DE JUBILACIONES Y PENSIONES DEL PERSONAL
                DOCENTE Y DE INVESTIGACIÓN</h4>
            <p align="center"><tt>Artículo 296 del Estatuto del Personal Docente y de Investigación de la
                    Universidad de Carabobo (EPIDIUC).</tt></p>

            <p align="justify"><i><tt>&nbsp;&nbsp;Los miembros del personal Docente y de Investigación que hayan cumplido
                        veinte (20) años de servicio y tengan sesenta (60) o más años de edad, o aquellos de cualquier
                        edad, que hayan cumplido veinticinco (25) años de servicio tendrán derecho a la jubilación, según
                        lo establecido en el Artículo 296 del Estatuto del Personal Docente y de Investigación de la
                        Universidad de Carabobo (EPIDIUC). Ley de Universidades.</tt></i></p>
        </div>
        <!-- Default box -->
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Requisitos Exigidos</b></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;<tt>Para proceder con la solicitud de Jubilación, el miembro del Personal Docente
                        y de Investigación debe anexar los recaudos exigidos ante la Dirección de Asuntos Profesorales
                        Sectorial.</tt></p>

                <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;<tt>Para que puedan computarse los años de servicio es indispensable que
                        el interesado haya cumplido un mínimo de veinte (20) años como miembro del personal Docente
                        y de Investigación de la Universidad de Carabobo.</tt></p>
            </div>

        </div>
        <!-- /.box -->
        <!-- Default box -->
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Recaudos Exigidos</b></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;<tt>A continuación se listan los recaudos que deben ser
                        anexados a la solicitud:</tt></p>

            </div>
            <div class="box-footer">
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Oficio de solicitud
                        de jubilación por parte del beneficiario, indicando la fecha a partir de la cual se jubila.</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Copia de la Cédula
                        de Identidad.</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Copia del RIF.</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Copia de la Constancia
                        expedida por la Dirección de Asuntos Profesorales, para efectos de Jubilación.</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Último recibo de pago.</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Partida de nacimiento (para
                        aquellos que se jubilan por edad).</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Constancia original de los
                        Antecedentes de servicios del ente de la administración pública donde laboró (en caso de
                        jubilarse con tiempo en la administración Pública: PLANILLA FP XXX).</tt></p>
                <p align="justify"><i class="fa fa-check-square-o"></i><tt>&nbsp;&nbsp;Copia de la constancia de
                        cumplimiento de labores como preparador hasta un máximo de 4 años, con una equivalencia de
                        2 años de preparaduría por un año de docencia.</tt></p>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
        <div class="pull-right">
            <button type="button" class="btn btn-block btn-primary">Realizar Solicitud</button>
        </div>
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
{% endblock %}
