<script type="text/javascript">

	var opcion;
	var id;
	var c1 = new Array();
	var c2 = new Array();
	var c3 = new Array();
	var c4 = new Array();
	var c5 = new Array();
	var inputs = ["cedula", "nombre", "apellido", "facultad", "universidad", "area"];

	$( window ).load(function (){

		$.ajax({
	        method: "POST",
	        url:  "{{ path('listadoConcursosAjax') }}",
	        dataType: 'json',
	        success: function(data)
	        {
	        	opcion = "<option id='sel' selected='selected'>...</option>";
	 
	        	for (var i = 0; i < data["id"].length; i++) {
	        		
	        		var num = data["id"][i];

	        		opcion = opcion+"<option value="+num+"><b>Area:</b> "+data["area"][i]+
	        		"   -   <b>Vacantes:</b> "+data["vacantes"][i]
	        		+"   -   <b>Fecha Inicio:</b> "+data["inicio"][i]
	        		+"</option>";   		
	        	}

	        	$("#lista").html(opcion);
	        }
	    });	
	});

	$('#ingresarCPEC').click(function (){ 
	
		var text = "";
			
		var continua = true;
		
		if (id == "s1"){
		
			toastr.clear();

			for (var j = 1; j <= inputs.length; j++) {
			
				if ($("#"+inputs[j-1]).val() == ""){

					$("#span"+inputs[j-1]).removeClass("hide");
					continua = false;
					$('#'+inputs[j-1]+"a").addClass("has-error");
					text = "Campo Vacío";
				} 
				else {
					$("#span"+inputs[j-1]).addClass("hide");
					$('#'+inputs[j-1]+"a").removeClass("has-error");
				}
			}
			
			if (isNaN($("#cedula").val())){
				continua = false;
				$("#cedulaa").addClass("has-error");
				text = "No Es Un Número";
			}

			if (continua){

				$('#nombre1').val($('#nombre').val());

				for (var i = 0; i <= 5; i++) c1[i] = $('#'+inputs[i]).val();

				$('#myModal').modal('toggle');
			} else{
				toastr.error(text, "Error", {
		            "timeOut": "0",
		            "extendedTImeout": "0"
		         });
			}	
		}

		continua = true;	

		if (id == "s2"){
		
			toastr.clear();

			for (var j = 1; j <= inputs.length; j++) {
			
				if ($("#"+inputs[j-1]).val() == ""){

					$("#span"+inputs[j-1]).removeClass("hide");
					continua = false;
					$('#'+inputs[j-1]+"a").addClass("has-error");
					text = "Campo Vacío";
				} 
				else {
					$("#span"+inputs[j-1]).addClass("hide");
					$('#'+inputs[j-1]+"a").removeClass("has-error");
				}
			}
			
			if (isNaN($("#cedula").val())){
				continua = false;
				$("#cedulaa").addClass("has-error");
				text = "No Es Un Número";
			}

			if (continua){

				$('#nombre2').val($('#nombre').val());

				for (var i = 0; i <= 5; i++) c2[i] = $('#'+inputs[i]).val();

				$('#myModal').modal('toggle');
			} else{
				toastr.error(text, "Error", {
		            "timeOut": "0",
		            "extendedTImeout": "0"
		         });
			}
		}

		continua = true;

		if (id == "s3"){
		
			toastr.clear();

			for (var j = 1; j <= inputs.length; j++) {
			
				if ($("#"+inputs[j-1]).val() == ""){

					$("#span"+inputs[j-1]).removeClass("hide");
					continua = false;
					$('#'+inputs[j-1]+"a").addClass("has-error");
					text = "Campo Vacío";
				} 
				else {
					$("#span"+inputs[j-1]).addClass("hide");
					$('#'+inputs[j-1]+"a").removeClass("has-error");
				}
			}
			
			if (isNaN($("#cedula").val())){
				continua = false;
				$("#cedulaa").addClass("has-error");
				text = "No Es Un Número";
			}

			if (continua){

				$('#nombre3').val($('#nombre').val());

				for (var i = 0; i <= 5; i++) c3[i] = $('#'+inputs[i]).val();

				$('#myModal').modal('toggle');
			} else{
				toastr.error(text, "Error", {
		            "timeOut": "0",
		            "extendedTImeout": "0"
		         });
			}
		}

		continua = true;

		if (id == "s4"){
		
			toastr.clear();

			for (var j = 1; j <= inputs.length; j++) {
			
				if ($("#"+inputs[j-1]).val() == ""){

					$("#span"+inputs[j-1]).removeClass("hide");
					continua = false;
					$('#'+inputs[j-1]+"a").addClass("has-error");
					text = "Campo Vacío";
				} 
				else {
					$("#span"+inputs[j-1]).addClass("hide");
					$('#'+inputs[j-1]+"a").removeClass("has-error");
				}
			}
			
			if (isNaN($("#cedula").val())){
				continua = false;
				$("#cedulaa").addClass("has-error");
				text = "No Es Un Número";
			}

			if (continua){

				$('#nombre4').val($('#nombre').val());

				for (var i = 0; i <= 5; i++) c4[i] = $('#'+inputs[i]).val();

				$('#myModal').modal('toggle');
			} else{
				toastr.error(text, "Error", {
		            "timeOut": "0",
		            "extendedTImeout": "0"
		         });
			}
		}

		continua = true;

		if (id == "s5"){
		
			toastr.clear();

			for (var j = 1; j <= inputs.length; j++) {
			
				if ($("#"+inputs[j-1]).val() == ""){

					$("#span"+inputs[j-1]).removeClass("hide");
					continua = false;
					$('#'+inputs[j-1]+"a").addClass("has-error");
					text = "Campo Vacío";
				} 
				else {
					$("#span"+inputs[j-1]).addClass("hide");
					$('#'+inputs[j-1]+"a").removeClass("has-error");
				}
			}
			
			if (isNaN($("#cedula").val())){
				continua = false;
				$("#cedulaa").addClass("has-error");
				text = "No Es Un Número";
			}

			if (continua){

				$('#nombre5').val($('#nombre').val());

				for (var i = 0; i <= 5; i++) c5[i] = $('#'+inputs[i]).val();

				$('#myModal').modal('toggle');
			} else{
				toastr.error(text, "Error", {
		            "timeOut": "0",
		            "extendedTImeout": "0"
		         });
			}
		}
	});

	$('#s1').click(function (){ 
	
		for (var j = 1; j <= inputs.length; j++) {
			$("#span"+inputs[j-1]).addClass("hide");
			$('#'+inputs[j-1]+"a").removeClass("has-error");
		}

		for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val('');

		if (c1[0] != null){

			for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val(c1[i]);
		}

		id = "s1";
	});

	$('#s2').click(function (){ 
	
		for (var j = 1; j <= inputs.length; j++) {
			$("#span"+inputs[j-1]).addClass("hide");
			$('#'+inputs[j-1]+"a").removeClass("has-error");
		}

		for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val('');

		if (c2[0] != null){

			for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val(c2[i]);
		}

		id = "s2";
	});

	$('#s3').click(function (){ 
	
		for (var j = 1; j <= inputs.length; j++) {
			$("#span"+inputs[j-1]).addClass("hide");
			$('#'+inputs[j-1]+"a").removeClass("has-error");
		}

		for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val('');

		if (c3[0] != null){

			for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val(c3[i]);
		}

		id = "s3";
	});

	$('#s4').click(function (){ 
	
		for (var j = 1; j <= inputs.length; j++) {
			$("#span"+inputs[j-1]).addClass("hide");
			$('#'+inputs[j-1]+"a").removeClass("has-error");
		}

		for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val('');

		if (c4[0] != null){

			for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val(c4[i]);
		}

		id = "s4";
	});

	$('#s5').click(function (){ 
	
		for (var j = 1; j <= inputs.length; j++) {
			$("#span"+inputs[j-1]).addClass("hide");
			$('#'+inputs[j-1]+"a").removeClass("has-error");
		}

		for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val('');

		if (c5[0] != null){

			for (var i = 0; i <= 5; i++) $('#'+inputs[i]).val(c5[i]);
		}

		id = "s5";
	});

	$('#registrarCPEC').click(function (){

		toastr.clear();
		var text = ""; 

		var continua = true;

		if ($("#lista").val() == null || 
			$("#lista").val() == "..." || 
			$("#lista").val() == "") {

			continua = false;
			text = "Concurso vacío";
		}

		for (var j = 1; j < 6; j++) {
			
			if ($("#nombre"+j).val() == ""){

				$("#spannombre"+j).removeClass("hide");
				continua = false;
				text = "Campo vacío";
			} 
			else {
				$("#spannombre"+j).addClass("hide");
			}
		}

		if(continua){		

			if (c1[0] != c2[0] && c1[0] != c3[0] && c1[0] != c4[0] &&
				c1[0] != c5[0] && c2[0] != c3[0] && c2[0] != c4[0] &&
				c2[0] != c5[0] && c3[0] != c4[0] && c3[0] != c5[0] && 
				c4[0] != c5[0]){

				//json

				var Arreglo;

				for (var i = 1; i <= 5; i++) {
					
					if (i == 1){

						Arreglo = {"cedula":c1[0], "nombre":c1[1], 
							"tipo":"OposicionSuplenteCpec", "apellido":c1[2], 
							"facultad":c1[3], "universidad":c1[4], "area":c1[5],
							"concurso": $("#lista").val()};
			        }

			        if (i == 2){

						Arreglo = {"cedula":c2[0], "nombre":c2[1], 
							"tipo":"OposicionSuplenteCpec", "apellido":c2[2], 
							"facultad":c2[3], "universidad":c2[4], "area":c2[5],
							"concurso": $("#lista").val()};
			        }

			        if (i == 3){

						Arreglo = {"cedula":c3[0], "nombre":c3[1], 
							"tipo":"OposicionSuplenteCpec", "apellido":c3[2], 
							"facultad":c3[3], "universidad":c3[4], "area":c3[5],
							"concurso": $("#lista").val()};
			        }

			        if (i == 4){

						Arreglo = {"cedula":c4[0], "nombre":c4[1], 
							"tipo":"OposicionSuplenteCpec", "apellido":c4[2], 
							"facultad":c4[3], "universidad":c4[4], "area":c4[5],
							"concurso": $("#lista").val()};
			        }

			        if (i == 5){

						Arreglo = {"cedula":c5[0], "nombre":c5[1], 
							"tipo":"OposicionSuplenteCpec", "apellido":c5[2], 
							"facultad":c5[3], "universidad":c5[4], "area":c5[5],
							"concurso": $("#lista").val()};
			        }

					$.ajax({
			            method: "POST",
			            data: Arreglo,
			            url:  "{{ path('registroJuradosAjax') }}",
			            dataType: 'json',
			            success: function(data)
			            {
			                if (data == "S"){

			                	continua = true;

								$('#spannombre'+i).addClass("hide");
								
								$('#span'+inputs[i]).addClass("hide");

			                	toastr.clear();

								text = "Suplentes Insertados";

								toastr.success(text, "Exito", {
				                    "timeOut": "0",
				                    "extendedTImeout": "0"
				                 });
			                } 
			                else{

			                	continua = false;

			                	toastr.clear();

			                	if (data == "N")		                		
			                		text = "Usted no tiene permiso";		                	
			                	else
				                	text = "Error al Registrar Jurados";			                		                	
			                	
			                	toastr.error(text, "Error", {
						            "timeOut": "0",
						            "extendedTImeout": "0"
					         	});
			                }
			            }
			        });	

			        Arreglo = null;
				}

				if (continua){
					for (var i = 0; i <= 5; i++){

						$('#nombre'+i).val('');
						c1[i] = null;
						c2[i] = null;
						c3[i] = null;
						c4[i] = null;
						c5[i] = null;
					}	
					
					$("#lista").html(opcion);
				}		
				
				//fin json
			}
			else{
				toastr.error("Hay Cédulas Repetidas", "Error", {
		            "timeOut": "0",
		            "extendedTImeout": "0"
	         	});
			}
		}
		else {
			toastr.error(text, "Error", {
	            "timeOut": "0",
	            "extendedTImeout": "0"
	         });
		}
	});

	$('#limpiarJurado').click(function (){ 

		for (var i = 1; i <= 5; i++) {
			
			$('#spannombre'+i).addClass("hide");
			$('#nombre'+i).val('');
		}

		for (var i = 0; i <= 5; i++) $('#span'+inputs[i]).addClass("hide");

		for (var i = 0; i <= 5; i++){

			$('#nombre'+i).val('');
			c1[i] = null;
			c2[i] = null;
			c3[i] = null;
			c4[i] = null;
			c5[i] = null;
		}	

		$("#lista").html(opcion);

		toastr.clear();
	});

</script>