{% extends '::base.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Información
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-fw fa-money"></i> Comisión de Servicio Remunerada</li>
            <li class="active">Información</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Objeto del trámite administrativo</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                Se entiende por Comisión de Servicio a la situación administrativa en que se encuentra el funcionario a quien se ordena una misión en otra dependencia del mismo organismo o en cualquier otra de la Administración Pública Nacional.
                La comisión de servicio podrá ser realizada en el mismo órgano o ente donde presta servicio o en otro de la Administración Pública dentro de la misma localidad.

            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Requisitos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                Se entiende por Comisión de Servicio a la situación administrativa en que se encuentra el funcionario a quien se ordena una misión en otra dependencia del mismo organismo o en cualquier otra de la Administración Pública Nacional.
                La comisión de servicio podrá ser realizada en el mismo órgano o ente donde presta servicio o en otro de la Administración Pública dentro de la misma localidad.

            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Recaudos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;A continuación se listan los recaudos que deben ser
                    anexados a la solicitud:</p>
            </div>
            <div class="box-body">
                <p align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Oficio de Solicitud de la Comisión de Servicio por parte del Beneficiario.</p>
                <p align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Fotocopia de cédula de Identidad.</p>
                <p align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Fotocopia del RIF.</p>
                <p align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Copia de la Designación del cargos en la Administración Pública que indique el cargo y su ubicación.</p>
            </div>
        </div>
    </section>
{% endblock %}
