{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>Detalles</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-handshake-o"></i>Cláusulas Contractuales</li>
        <li>Consultar solicitud</li>
        <li class="active">Detalles</li>
      </ol>
    </section>
    </br>
    
    <div class="row">
        <section class="content-body col-md-offset-1 col-md-12">
            <br/>
            <form>
              <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>02/02/2017</td>
                    <td>en proceso</td>
                    <td>
                  </tr>
                  <tr>
                    <td>02/02/2017</td>
                    <td>inicial</td>
                    <td>
                  </tr>
                  <tr>
                    <td>02/02/2017</td>
                    <td>en proceso</td>
                    <td>

                  </tr>
                  <tr>
                    <td>02/02/2017</td>
                    <td>verificado</td>
                    <td>
                  </td>
                    
                  </tr>
                  </tbody>
                </table>
              </div>                  
            </form>
        </section>
    </div>

{% endblock %}