{% extends 'base.html.twig' %}

{% block content %} 

	<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div>
          <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:400px; margin-left:-200px; height:300px; margin-top:20%;"/>
          <br/>
          <label style="position: absolute; top:50%; left:50%; width:400px; margin-left:-200px; height:300px; margin-top:5%; color: white; font: 150% sans-serif;">Guardando datos...</label>
        </div>
      </div>
    </div>

    <section class="content-header">
      <h1>
        Apertura del Concurso de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Apertura Concurso</li>
      </ol>
    </section>
 
    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-9">
        <br/>
        <div class="register-box-body">
            <form id="aperturaConcurso">

	            <br/>

	            <div class="container">
	            <label>Fecha de Inicio
	            	<span id="spanfechaConcurso" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>

					                  <input type='text' class="form-control" maxlength="10" id="fechaConcurso" placeholder="dd/MM/yyyy"/>
					              
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>				                        
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Cantidad de Vacantes
	            	<span id="spancedula" class="label label-danger hide">Vac&iacute;o</span>
	            	<span id="spancedula2" class="label label-danger hide">Esto no es un n&uacute;mero</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>
				                    <input type="text" id="cedula" class="form-control" maxlength="3" required="true" placeholder="Ejemplo: 123" onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-hashtag"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Area de Postulaci&oacute;n
	            	<span id="spanarea" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" id="area" maxlength="99" placeholder="Ejemplo: Literatura"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Fecha posible de Recepci&oacute;n de Documentos</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>
				                    <input type='text' class="form-control" placeholder="dd/mm/yyyy" id='fechaDoc' maxlength="10"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Fecha posible de Presentaci&oacute;n</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>
				                    <input type='text' class="form-control" placeholder="dd/mm/yyyy"  id="fechaPre" maxlength="10"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>				  
				    </div>
				</div>

				<div class="container">
	            <label>Obervaci&oacute;n</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>
				                    <input type='text' class="form-control" placeholder="comente acerca del concurso"  id="observacion" maxlength="200"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>				  
				    </div>
				</div>

				<br/><br/>

              <div class="row">
	              <div class="col-xs-6">
	                  <button id="limpiarConcurso" type="button" class="btn btn-default btn-block btn-flat">Limpiar</button>
	                </div>
	                <div class="col-xs-6">
	                  <button id="registrarConcurso" type="button" class="btn btn-success btn-block btn-flat">Registrar</button>
	                </div>
              </div>

            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}
  <script>

    $('#fechaConcurso').datepicker({
      autoclose: true
    });

    $('#fechaDoc').datepicker({
      autoclose: true
    });

    $('#fechaPre').datepicker({
      autoclose: true
    });

  </script>

  <script src="{{ asset('assets/js/concursoOposicion/saveConcurso.js') }}"></script>

  {% include('ConcursoOposicionBundle:Concurso:saveConcurso.html.twig') %}

{% endblock %}