{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Apertura del Concurso de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Apertura Concurso</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-9">
        <br/>
        <div class="register-box-body">
            <form>

            	<div class="row">
	                <div class="col-xs-6">
	                  <a href="{{ path('jurado') }}" class="btn btn-primary btn-block btn-flat">+ Jurado</a>
	                </div>

	                <div class="col-xs-6">
	               		<a href="{{ path('cpec') }}" class="btn btn-primary btn-block btn-flat">+ CPEC</a>
	                </div>
	            </div>

	            <br/>

	            <div class="container">
	            <label>Fecha de Inicio</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group date' id='datetimepicker1'>
				                    <input type='text' class="form-control" placeholder="dd/MM/yyyy"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Cantidad de Vacantes</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' id='cedula'>
				                    <input type="text" class="form-control" maxlength="3" placeholder="123"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-hashtag"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Area de Postulaci&oacute;n</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' id='area'>
				                    <input type="text" class="form-control" maxlength="3" placeholder="Oposicion"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Fecha posible de Recepci&oacute;n de Documentos</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group date' id='datetimepicker2'>
				                    <input type='text' class="form-control" placeholder="dd/MM/yyyy"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Fecha posible de Presentaci&oacute;n</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group date' id='datetimepicker3'>
				                    <input type='text' class="form-control" placeholder="dd/MM/yyyy"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>				  
				    </div>
				</div>

				<div class="container">
	            <label>Observaci&oacute;n</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' id='observacion'>
				                    <input type="text" class="form-control" maxlength="3" placeholder="Que quiere mencionar?"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-eye-open"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<br/><br/>

              <div class="row">
                <div class="col-xs-12">
                  <button id="registrarConcurso" type="button" class="btn btn-success btn-block btn-flat">Registrar</button>
                </div>
              </div>
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}