{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Apertura del Concurso de Oposici&oacute;n
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Apertura Concurso</li>
      </ol>
    </section>
    
{% endblock %}