{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Recusaci&oacute;n de Jurado en el Concurso de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Recusaci&oacute;n</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-9">
        <br/>
        <div class="register-box-body">
            <form id="recusa">           		

	            <br/>

	            <div class="callout callout-info">        
		            <h4><i class="fa fa-info-circle"></i> Debe estar seguro de acusar a un miembro del jurado ya que amerita comprobaci&oacute;n de la solicitud.</h4>
		        </div>          	

	            <br/>

		        <div class="container">
	            <label>C&eacute;dula del Aspirante Recusador
	            	<span id="aspitanteSpam" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>
				                    <input id="aspirante" type="text" class="form-control" maxlength="9" placeholder="Ejemplo: 12345678"
				                    onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-hashtag"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

		        <div class="container">
	            <label>C&eacute;dula del Jurado a Recusar
	            	<span id="juradoSpam" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group'>
				                    <input id="jurado" type="text" class="form-control" maxlength="9" placeholder="Ejemplo: 12345678"
				                    onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-hashtag"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Fecha de Acusaci&oacute;n
	            	<span id="fechaSpam" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group date'>
				                    <input id="fecha" type='text' class="form-control" placeholder="dd/MM/yyyy"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<br/><br/>

              <div class="row">
                <div class="col-xs-6">
                  <button id="limpiarRecusacion" type="button" class="btn btn-default btn-block btn-flat">Limpiar</button>
                </div>
                <div class="col-xs-6">
                  <button id="registrar" type="button" class="btn btn-success btn-block btn-flat">Registrar</button>
                </div>
              </div>
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}
  <script>

    $('#fecha').datepicker({
      autoclose: true
    });

  </script>

  <script src="{{ asset('assets/js/concursoOposicion/saveRecusacion.js') }}"></script>
  <script src="{{ asset('assets/js/concursoOposicion/saveConcurso.js') }}"></script>

{% endblock %}