{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Recusaci&oacute;n de Jurado en el Concurso de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Recusaci&oacute;n</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">
        <br/>
        <div class="register-box-body">
            <form id="recusa">           		

	            <br/>

	            <div class="callout callout-info">        
		            <h4><i class="fa fa-info-circle"></i> Debe estar seguro de acusar a un miembro del jurado ya que amerita comprobaci&oacute;n de la solicitud.</h4>
		        </div>

		        <br/>

		        <div class="box-body">
		          <div class="row">
		            <div class="col-md-1">
			            <label>Jurado</label>
		            </div>
		            <div class="col-md-10">
		                <select class="form-control select2" style="width: 100%;" id="juradoLista">
		                	
		                </select> 
		            </div>
		          </div>
		        </div>

		        <br/>

		        <div class="box-body">
		          <div class="row">
		            <div class="col-md-1">
			            <label>Aspirante</label>
		            </div>
		            <div class="col-md-10">
		                <select class="form-control select2" style="width: 100%;" id="aspiranteLista">
		                	
		                </select> 
		            </div>
		          </div>
		        </div>	          	

				<br/><br/>

              <div class="row">
                <div class="col-xs-6">
                  <button id="limpiarRecusacion" type="button" class="btn btn-default btn-block btn-flat">Limpiar</button>
                </div>
                <div class="col-xs-6">
                  <button id="registrar" type="button" class="btn btn-success btn-block btn-flat">Registrar</button>
                </div>
              </div>
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}
  <script>

    $('#fecha').datepicker({
      autoclose: true
    });

  </script>

  <script src="{{ asset('assets/js/concursoOposicion/saveConcurso.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>

  <script>
  $(function () {

    	$(".select2").select2();

	});
  </script>

  {% include('ConcursoOposicionBundle:Recusacion:saveRecusacion.html.twig') %}

{% endblock %}