{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Registro de Aspirante al Concurso de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Registro de Aspirante</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-9">
        <br/>
        <div class="register-box-body">
            <form id='aspiranteForm'>  

            	<br/>

		        <div class="box-body">
		          <div class="row">
		            <div class="col-md-2">
			            <label>Concurso</label>
		            </div>
		            <div class="col-md-8">
		                <select class="form-control select2" style="width: 100%;" id="lista">
		                	
		                </select> 
		            </div>
		          </div>
		        </div>         		

	            <br/>
        
				<div class="container">
	            	<label>C&eacute;dula del aspirante
	            		<span id="spancedula" class="label label-danger hide">Vac&iacute;o</span>
	            	</label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="number" class="form-control" max="9" placeholder="Ejemplo: 12345678" id='cedula'  onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-credit-card"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Primer Nombre
	            	<span id="spannombre1" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: Jes&uacute;s" id='nombre1'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Segundo Nombre
		            	<span id="spannombre2" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: Manuel" id='nombre2'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Primer Apellido
		            	<span id="spanapellido1" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: Gonzalez" id='apellido1'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Segundo Apellido
		            	<span id="spanapellido2" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: Perez" id='apellido2'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Primer Telefono
		            	<span id="spantlf1" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: 000011223344" id='tlf1' onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-earphone"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Segundo Telefono
		            	<span id="spantlf2" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: 000011223344" id='tlf2' onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-earphone"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
	            <label>Correo
	            	<span id="spanemail1" class="label label-danger hide">Vac&iacute;o</span>
	            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="mail" class="form-control" maxlength="50" placeholder="Ejemplo: abdcef123@mail.com" id='email1'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-at"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Egresado de?
		            	<span id="spanuniversidad" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Ejemplo: Universidad de Carabobo" id='universidad'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Descrici&oacute;n del titulo
		            	<span id="spantiulo" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="50" placeholder="Ejemplo: Lic. Computaci&oacute;n" id='tiulo'/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Año de Graduaci&oacute;n
		            	<span id="spangraduacion" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="4" placeholder="Ejemplo: 2017" id='graduacion' onkeypress="return justNumbers(event);"/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-hashtag"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="container">
		            <label>Observaci&oacute;n
		            	<span id="spanobservacion" class="label label-danger hide">Vac&iacute;o</span>
		            </label>
				    <div class="row">
				        <div class='col-sm-7'>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="250" placeholder="Que quiere mencionar?" id='observacion'/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-eye-open"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<br/><br/>

              <div class="row">
                <div class="col-xs-6">
                  <button id="limpiarAspirante" type="button" class="btn btn-default btn-block btn-flat">Limpiar</button>
                </div>
                <div class="col-xs-6">
                  <button id="registrarAspirante" type="button" class="btn btn-success btn-block btn-flat">Registrar Aspirante</button>
                </div>
              </div>
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}

  <script src="{{ asset('assets/js/concursoOposicion/saveConcurso.js') }}"></script>
  <script src="{{ asset('assets/js/concursoOposicion/saveAspirante.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>

  <script>
  $(function () {

    	$(".select2").select2();

	});
  </script>

{% endblock %}