<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte PDF</title>

</head>

<body>

    <!-- Main content -->
    <section class="invoice">
        <div>
            <div class="row">
                <div style="text-align:center;" class="col-xs-12">
                    <h3 class="pager">
                        <br/>
                        UNIVERSIDAD DE CARABOBO <br/></h3>
                    <h3 class="pager">
                        PRUEBA HTML
                    </h3>
                    <br/><br/><br/>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</body>

</html>
