{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Registro de Resultados del Concursos de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Registro de Resultados</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">
        <br/>
        <div class="register-box-body">
            <form>

              <br/>

                <div class="box-body">
                  <div class="row">
                    <div class="col-md-2">
                      <label>Concurso</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control select2" style="width: 100%;" id="lista">
                          
                        </select> 
                    </div>
                  </div>
                </div>
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}

  <script src="{{ asset('assets/js/concursoOposicion/saveResultados.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>

  <script>
  $(function () {

      $(".select2").select2();

  });
  </script>

{% endblock %}