.modal-content {
  width: 800px;
  position: absolute; 
  top:50%; 
  left:50%; 
  margin-bottom: 30px;
  margin-left:-400px;
  background-color: #E1DFDF;
  border-radius: 5px;
}

.modal-body {
  height: 800px;
  overflow: hidden;
}

.modal-backdrop {
    background-color: #424530;
}

.modal-backdrop.fade.in{
    opacity: .8; 
}