<script type="text/javascript">

	var opcion;
	var opcion1;

	$( window ).load(function (){

		$.ajax({
	        method: "POST",
	        url:  "{{ path('listadoJuradosAjax') }}",
	        dataType: 'json',
	        data: {"id": "NO"},
	        success: function(data)
	        {
	        	if (data != "N"){
	        
		        	opcion = "<option id='jur' selected='selected'>...</option>";
		 
		        	for (var i = 0; i < data["id"].length; i++) {
		        		
		        		var num = data["id"][i];
	
		        		opcion = opcion+"<option value="+num+">"+data["nombre"][i]+
		        		" "+data["apellido"][i]
		        		+"   -   <b>Area:</b> "+data["areainvestigacion"][i]
		        		+"   -   <b>Facultad:</b> "+data["facultad"][i]
		        		+"   -   <b>Universidad:</b> "+data["universidad"][i]
		        		+"</option>";   		
		        	}
	
		        	$("#juradoLista").html(opcion);
	        	} else {
	        		toastr.error("No Hay Jurados Registrados", "Error", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });
	        	}
	        }
	    });	

	    $.ajax({
	        method: "POST",
	        url:  "{{ path('listadoAspiranteAjax') }}",
	        data: {"resul": "No"},
	        dataType: 'json',
	        success: function(data)
	        {
	        	if (data != "N"){
	        		opcion1 = "<option id='asp' selected='selected'>...</option>";
	 
		        	for (var i = 0; i < data["id"].length; i++) {
		        		
		        		var num = data["id"][i];
	
		        		opcion1 = opcion1+"<option value="+num+">"+data["nombre1"][i]
		        		+" "+data["nombre2"][i]+" "+data["apellido1"][i]+" "+data["apellido2"][i]
		        		+"   -   <b>Cedula:</b> "+data["cedula"][i]
		        		+"</option>";   		
		        	}
	
		        	$("#aspiranteLista").html(opcion1);      	
	        	} else {
	        		toastr.error("No Hay Aspirantes Registrados", "Error", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });
	        	}       	
	        }
	    });	
	});

	$('#registrar').click(function (){ 

		toastr.clear();
		var text = "";

		var continua = true;

	    if ($("#juradoLista").val() == "" ||
	     $("#juradoLista").val() == "..." || 
	     $("#juradoLista").val() == null){

	        continua = false;
	        text = "Jurado vacío";
	    }

	    if ($("#aspiranteLista").val() == "" ||
	     $("#aspiranteLista").val() == "..." || 
	     $("#aspiranteLista").val() == null){

	        continua = false;
	        text = "Aspirante vacío";
	    }

		if (continua){

			/*json*/

			$.ajax({
				method: "POST",
				data: {"aspirante": $('#aspiranteLista').val(),
				"jurado": $('#juradoLista').val()},
				url: "{{ path('registroRecusacionAjax') }}",
				dataType: "json",
				success: function(data)
				{
					if (data == "S") {

	                    toastr.success("Recusación registrada", "Exito", {
	                        "timeOut": "0",
	                        "extendedTImeout": "0"
	                     });

	                    $("#aspiranteLista").html(opcion1);
						$("#juradoLista").html(opcion);

					} else {

	                    toastr.error("Usted no tiene permiso", "Error", {
	                        "timeOut": "0",
	                        "extendedTImeout": "0"
	                     });
					}
				}
			});

			/*fin json*/

		} else{
			toastr.error(text, "Error", {
	            "timeOut": "0",
	            "extendedTImeout": "0"
	         });
		}
	});

	$('#limpiarRecusacion').click(function (){ 

		$("#aspiranteLista").html(opcion1);
		$("#juradoLista").html(opcion);

		toastr.clear();
	});


</script>